In [2]:
import MySQLdb as mdb 
 
import datetime, time
 
def run_sql_file(filename, connection):
    '''
    The function takes a filename and a connection as input
    and will run the SQL query on the given connection  
    '''
    start = time.time()
    
    file = open(filename, 'r')
    sql = s = " ".join(file.readlines())
    print "Start executing: " + filename + " at " + str(datetime.datetime.now().strftime("%Y-%m-%d %H:%M")) + "\n" + sql 
    cursor = connection.cursor()
    cursor.execute(sql)    
    connection.commit()
    
    end = time.time()
    print "Time elapsed to run the query:"
    print str((end - start)*1000) + ' ms'

In [3]:
sql_file = '../data/yelp_hot_res.sql'

In [5]:
# connection = mdb.connect('127.0.0.1', 'root', 'password', 'database_name')
# run_sql_file("my_query_file.sql", connection)    
# connection.close()

In [7]:
fd = open(sql_file, 'r')
sqlFile = fd.read()
fd.close()

# all SQL commands (split on ';')
sqlCommands = sqlFile.split(';')

# Execute every command from the input file
sqlCommands = ['select * from user']
for command in sqlCommands:
    # This will skip and report errors
    # For example, if the tables do not yet exist, this will skip over
    # the DROP TABLE commands
    try:
        c.execute(command)
    except OperationalError, msg:
        print "Command skipped: ", msg

NameError: name 'OperationalError' is not defined